.image_slider_container {
  margin: 10px auto;
  position: relative;
}
.image_slider_container .slick-prev:before,
.image_slider_container .slick-next:before {
  color: black;
}
.bannerImg {
}
.bannerText1 {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-bottom: 80px;
  width: 60%;
  font-size: 80px;
  color: rgb(229, 240, 240);
  

}
.bannerText2{
  text-align: center;
 top: 50%;
 font-size: 30px;
 top: 50%;
position: absolute;
margin: 100px 245px;
}
 

.btn1{
  background: #000080;
  border-radius: 45px;
  padding: 15px 34px;
  margin: 10px;

}
